/*

	Supersized - Fullscreen Slideshow jQuery Plugin
	Version : 3.2.7
	Site	: www.buildinternet.com/project/supersized
	
	Author	: Sam Dunn
	Company : One Mighty Roar (www.onemightyroar.com)
	License : MIT License / GPL License
	
*/

	
#supersized-loader { position:absolute; top:50%; left:50%; z-index:0; width:60px; height:60px; margin:-30px 0 0 -30px; text-indent:-999em; background: image-url("loading-dark.gif") no-repeat center center;}

#supersized		{
	display:block; position:fixed; left:0; top:0; overflow:hidden; z-index:-999; height:100%; width:100%;
	img { width:auto; height:auto; position:relative; display:none; outline:none; border:none; }

	&.speed img { -ms-interpolation-mode:nearest-neighbor; image-rendering: -moz-crisp-edges; }
	&.quality img { -ms-interpolation-mode:bicubic; image-rendering: optimizeQuality; }
	
	li {
		display:block; list-style:none; z-index:-30; position:fixed; overflow:hidden; top:0; left:0; width:100%; height:100%; background:#111;

		&.prevslide { 
			z-index:-20;

			img{ display:inline; }
		}
		&.activeslide { 
			z-index:-10;

			img{ display:inline; }
		}
		&.image-loading {
			background: #111 image-url("loading-dark.gif") no-repeat center center; width:100%; height:100%;

			img{ visibility:hidden; }

		}
	}

	a { width:100%; height:100%; display:block; }
}